@import '../../styles/mixin';

.display {
  @include container;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 400px;
  height: 200px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #61dafb;

    .input {
      width: 100px;
      border-radius: 5px;
      border: 5px solid #61dafb;
      outline: none;
      text-align: center;
      font-size: 25px;
      color: black;
      font-weight: bold;
    }
  }

  .error {
    color: #df3330;

    .input {
      border-color: #df3330;
      color: #df3330;
    }
  }
}

