@import '../../styles/mixin';

.display {
  @include container;
  max-width: 400px;
  height: 200px;

  .value {
    color: #61dafb;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notification,
  .info {
    font-size: 28px;
    color: #61dafb;
  }

  .error,
  .plusSize{
    color: #df3330;
  }

  .plusSize {
    font-size: 130px;
  }

}