@import '../../styles/mixin';
@import '../../styles/variable';

.display {
  @include container($height: 200px);
  @include flex($direction: column, $gap: 2rem);

  .wrapper {
    @include flex($gap: 50px);
    color: $primaryColor;

    .input {
      width: 150px;
      border-radius: 5px;
      border: 5px solid $primaryColor;
      text-align: center;
      @include font($size: 25px, $color: $darkColor);

      &:focus-visible {
        outline: 2px solid $brightColor;
      }
    }
  }

  .error {
    color: $errorColor;

    .input {
      border-color: $errorColor;
      color: $errorColor;
    }
  }
}

