@import '../../styles/mixin';
@import '../../styles/variable';

.display {
  @include container($max-height: 100%);
  min-height: 250px;
  @include flex($direction: column, $gap: 2rem);

  .wrapper {
    @include flex($gap: 50px, $wrap: wrap);
    color: $primaryColor;

    .input {
      width: 150px;
      border-radius: 5px;
      border: 5px solid $primaryColor;
      text-align: center;
      @include font($size: 25px, $color: $darkColor);

      &:focus-visible {
        outline: 2px solid $brightColor;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 25px;
    }
  }

  .error {
    color: $errorColor;

    .input {
      border-color: $errorColor;
      color: $errorColor;
    }
  }
}

