.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #61dafb;

  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #292929;
    color: #fff;

    .button {
      all: unset;
      padding: 10px 0;
      width: 100%;
      text-align: center;
      font-weight: normal;

    }

    .disabled {
      background-color: #61dafb;
      color: #000;
      cursor: pointer;
      font-weight: bold;
    }

    .roundedRight {
      border-radius: 0 0 15px 0;
    }

    .roundedLeft {
      border-radius: 0 0 0 15px;
    }
  }
}

