@import '../../common/styles/mixin';

.root {
  width: 100%;

  .container {
    @include container($max-height: 100%);
    @include flex($direction: column, $gap: 20px);

    .display_button {
      @include container;

      @media screen and (max-width: 530px) {
        flex-wrap: wrap;
        max-height: 100%
      }
    }
  }
}